Source: dbix-easy-perl
Section: devel
Priority: optional
Maintainer: Dennis Schoen <dschoen@mini.gt.owl.de>
Standards-Version: 3.0.1

Package: libdbix-easy-perl0
Architecture: any
Depends: ${shlibs:Depends} libdbi-perl, perl5, libterm-readkey-perl
Description: Easy to Use DBI Interface
 DBIx::Easy is an easy to use DBI interface.
 Currently only the Pg, mSQL and mysql drivers are supported.
 Note that you also need one of the DBD::* drivers to use this modul.
 For additional information please refer to the manpage.
